/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



/* FONT SET */
/* html, body {
	font-family: 'Rajdhani', sans-serif;
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}
h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
} */

/* BODY */
body {
	width: 876px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

/* NAV */
#nav-wrapper {
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
	left: 0;
	padding: 25px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
#nav-container {
	display: flex;
	justify-content: space-between;
}
#nav-container nav {
	display: flex;
}
#nav-container nav a {
	border-bottom: 1px solid #eeeeee;
	color: #555555;
	font-size: 14px;
	margin: 0 20px;
	padding: 10px;
	text-decoration: none;
	transition:
		background-color .25s ease-in-out,
		border-bottom .25s ease-in-out,
		color .25s ease-in-out;
}
#nav-container nav a:first-child {
	margin-left: 0;
}
#nav-container #active-page {
	border-bottom: 1px solid #bbbbbb;
	color: #222222;
}
#nav-container nav a:hover {
	background-color: #ffffff;
	border-bottom: 1px solid #bbbbbb;
	color: #222222;
}
.logo {
	display: inline-block;
	margin-left: 90px;
	vertical-align: middle;
}

/* HEADER */
header {
	border-bottom: 1px solid black;
	margin-top: 150px;
	padding-bottom: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#call-to-action-container {
	text-align: center;
}
#call-to-action-container h1 {
	font-size: 72px;
}
#call-to-action-container button {
	background: white;
	border: 1px solid black;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-top: 10px;
	padding: 5px 40px;
	transition:
		background .25s ease-in-out,
		padding .25s ease-in-out;
}
#call-to-action-container button:hover {
	background: #dddddd;
	padding: 5px 55px; 
}

/* CONTENT */
#content-container {
	border-bottom: 1px solid black;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}
#content-container img {
	width: 100%;
}
#content-container section:nth-child(1),
#content-container section:nth-child(2) {
	width: 49%;
}
#content-container section:nth-child(4),
#content-container section:nth-child(5),
#content-container section:nth-child(6) {
	width: 32%;
}
#content-container section {
	margin: 40px 0;
}
#content-container section h2 {
	text-transform: uppercase;
}

/* CONTACT */
#contact-container {
	margin: 40px 0;
	width: 100%;
}

/* FOOTER */
footer {
	font-size: 14px;
	padding-bottom: 80px;
	text-align: center;
}



/* SERVICES PAGE STYLING */
#services-header {
	flex-flow: row wrap;
	padding: 0;
}
#services-header img {
	width: 100%;
}
#services-header section {
	padding: 50px 0;
}
#services-header section h1 {
	font-size: 32px;
}

#services-content {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	padding: 25px 0;
	border-bottom: 1px solid black;
}
#services-content section {
	width: 47%;
	padding: 25px;
	margin: 25px 0;
	background-color: #eeeeee;
}
#services-content section button {
	background-color: white;
	border: 1px solid black;
	color: black;
	font-size: 18px;
	font-weight: 500;
	margin-top: 10px;
	padding: 5px 40px;
	transition:
		background .25s ease-in-out,
		padding .25s ease-in-out;
}
#services-content section button:hover {
	background: #dddddd;
	padding: 5px 55px; 
}

#services-facts {
	margin: 50px 0;
	display: flex;
	justify-content: space-between;
}
#services-facts section {
	width: 50%;
}
#services-facts p {
	margin: 25px 0;
}
#services-facts ul {
	list-style: square;
	list-style-position: inside
}
#services-facts ul li {
	margin: 10px;
}
#services-facts img {
	width: 47%;
}